<br><br><br>
  <h1 class="w3-text-red">VISION</h1>
  <p class="w3-text-green">____________</p> <br>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">
        <br><br>
        <p> Ser una institución modelo en la formación de jóvenes 
            investigadores creativos en constante proceso de aprendizaje 
            practicantes de valores  ciudadanos comprometidos con la realidad
            social del país.<br> </p> <br> 
        <br>
      </div>
      <div class="col-md-4">
        <img src="assets/vision.png" class="img-fluid" alt=""/>
      </div>
     
    </div>
  </div>
  <br><br><br>