  <br><br><br>
  <h1 class="w3-text-red">NOSOTROS</h1>
  <p class="w3-text-green">____________</p> <br>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">
        <br><br>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Asperiores quia expedita, eaque dolorem fugiat quae distinctio 
        illum officia veritatis dignissimos, quis et voluptates at iure
        vero ullam eum! Unde, delectus? <br>
        <br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Asperiores quia expedita, eaque dolorem fugiat quae distinctio 
        illum officia veritatis dignissimos, quis et voluptates at iure
        vero ullam eum! Unde, delectus? </p> <br> 
        <br>
      </div>
      <div class="col-md-4">
        <img src="assets/nosotros1.png" class="img-fluid" alt="">
      </div>

      <div class="col-md-4">
          <img src="assets/nosotros2.png" class="img-fluid" alt="">
      </div>

      <div class="col-md-8">
          <br><br>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Asperiores quia expedita, eaque dolorem fugiat quae distinctio 
        illum officia veritatis dignissimos, quis et voluptates at iure
        vero ullam eum! Unde, delectus? <br>
        <br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Asperiores quia expedita, eaque dolorem fugiat quae distinctio 
        illum officia veritatis dignissimos, quis et voluptates at iure
        vero ullam eum! Unde, delectus? <br> <br></p> <br> 
          <br><br><br><br>
        </div>

    </div>
  </div>
