<br><br><br>
  <h1 class="w3-text-red">HIMNO</h1>
  <p class="w3-text-green">____________</p> <br>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">
        <br><br>
        <p> 
            <b>CORO</b> <br><br>
            Las Virtudes que nos acompañan, <br>
            Investigar, Crear, Aprender y Valorar, <br>
            son emblema de nuestro colegio, <br>
            que nos brinda saber y amistad <br><br>
            
            <b>I</b> <br><br>
            
            Con empeño y mucho entusiasmo,<br>
            Grandes hombres tenemos que ser,<br>
            Y a esta patria querida entregarle<br>
            Lo mejor que podemos hacer.<br><br>
            
            <b>II</b> <br><br>

            Respetuosos y amables con todos,<br>
            Deseosos de siempre aprender<br>
            y creando un sin fin de ilusiones<br>
            siendo firmes en nuestro saber.<br><br><br>
            
            <b> Letra y Música: Diego Camilo Pinzón</b>
      </div>
      <div class="col-md-6">
        <img src="assets/himno.jpg" class="img-fluid" alt=""/>
      </div>
      
    </div>
  </div>
  <br><br><br>