
.institucionfondo
{
    height: 310px;
    padding-top: 200px;
    /* Seccion Institucion entrada PARALLAX*/
    background-image: url('~src/assets/fondospestanas/institucion1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.optionmenuinstitucion a
{
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #43a047;
}
