
<br><br><br>
<h1 class="w3-text-red">SIMBOLOS</h1>
<p class="w3-text-green">____________</p> <br>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-8">
      <br><br>
      <h2 class="w3-text-red">Bandera</h2><br>
      <p><b class="w3-text-red">Color Rojo: </b>Significa el compromiso y la responsabilidad que tenemos para ser cada día 
        mejores. <br><br>
        <b class="w3-text-green">Color Verde: </b> Significa el amor por la vida y la naturaleza.
    </p> <br> 
      <br>
    </div>
    <div class="col-md-4">
      <img src="assets/bandera.png" class="img-fluid" alt=""/>
    </div>
    <hr>
    <div class="col-md-8">
        <br><br>
        <h2 class="w3-text-red">Escudo</h2><br>
        <p> Nuestro escudo Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
          Ut deserunt explicabo, rerum laudantium excepturi asperiores praesentium 
          suscipit ex nam voluptatibus odio vero quo quos quod possimus illo inventore
           iste voluptas.
      </p> <br> 
        <br>
      </div>
      <div class="col-md-4">
        <img src="assets/escudo.png" class="img-fluid" alt=""/>
      </div>
  </div>
</div>
<br><br><br>
