<div class="container-fluid documentosfondo">
    <div class="w3-center pb-5">
        <h1 class="titleinstitucion">DOCUMENTOS</h1>
    </div>
 </div>
  <br>
<div class="container my-5">
    <br>
    <p>
        Aqui encontraras toda la documentacin para que Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Officiis ipsum quibusdam, vitae magnam atque temporibus deserunt quam,
         mollitia non necessitatibus accusamus possimus numquam excepturi! Qui et numquam at 
         consectetur incidunt.
    </p> <br>
    <h2>Circular Lúdicas para preescolar 2019</h2>
    <a href="assets/documents/circilasPrescolar.pdf" class="btn btn-success btn-lg "
         role="button" aria-disabled="true" download>Descargar</a>
    <hr>


    <h2>Circular Lúdicas para Primaria 2019</h2>
    <a href="assets/documents/circilasPrescolar.pdf" class="btn btn-success btn-lg "
         role="button" aria-disabled="true" download="Circular Ludicas Primaria 2019">Descargar</a> <hr>

    <h2>Circular Lúdicas para Secundarira 2019</h2>
    <a href="assets/documents/circilasPrescolar.pdf" class="btn btn-success btn-lg "
         role="button" aria-disabled="true" download>Descargar</a><hr>

    <h2>Restaurante Escolar! JUNIO 2019</h2>
    <a href="assets/documents/circilasPrescolar.pdf" class="btn btn-success btn-lg "
         role="button" aria-disabled="true" download>Descargar</a><hr>

    <h2>Restaurante MAYO! 2019</h2>
    <a href="assets/documents/circilasPrescolar.pdf" class="btn btn-success btn-lg "
         role="button" aria-disabled="true" download>Descargar</a> <hr>

    <h2>Restaurante JUNIO! 2019</h2>
    <a href="assets/documents/circilasPrescolar.pdf" class="btn btn-success btn-lg "
         role="button" aria-disabled="true" download>Descargar</a> <hr>

    <h2>Admisiones Detalles</h2>
    <a href="assets/documents/circilasPrescolar.pdf" class="btn btn-success btn-lg "
         role="button" aria-disabled="true" download>Descargar</a> <hr>

    <h2>Formulario De Pre-Inscripcion</h2>
    <a href="assets/documents/circilasPrescolar.pdf" class="btn btn-success btn-lg "
         role="button" aria-disabled="true" download>Descargar</a> <hr>


</div>