<div class="container-fluid serviciofondo">
    <div class="w3-center pb-5">
        <h1 class="titleinstitucion">SERVICIOS</h1>
    </div>
</div>
<br>

<div class="container my-5">
    <p>Gimasio Campreste ICAV ofrece servicio de calidad que apoyan a lorem
        Inventore doloremque impedit saepe aperiam adipisci ex,
        repellat omnis accusamus dicta. Doloribus deleniti tenetur 
        impedit illo suscipit nesciunt id eos voluptatibus fugiat?
        lorem
        Inventore doloremque impedit saepe aperiam adipisci ex,
        repellat omnis accusamus dicta. Doloribus deleniti tenetur 
        impedit illo suscipit nesciunt id eos voluptatibus fugiat?  </p>
    <br>


    <div class="row">
        <div class="col-md-6 p-5">
            <h2 class="w3-text-red">Pre escolar</h2>
            <p class="w3-text-green">____________</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam rem voluptatum 
                veritatis amet earum, necessitatibus, illo impedit doloribus nisi quam? Ratione 
                labore corrupti, totam possimus aut nihil veritatis ducimus?
            </p>
         </div>
        <div class="col-md-6 p-5"> 
            <img src="assets/preescolar.jpg" width="70%" 
            class="w3-right img-thumbnail img-fluid" alt=""/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6 p-5">
            <h2 class="w3-text-red">Primaria</h2>
            <p class="w3-text-green">____________</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam rem voluptatum 
                veritatis amet earum, necessitatibus, illo impedit doloribus nisi quam? Ratione 
                labore corrupti, totam possimus aut nihil veritatis ducimus?
            </p>
         </div>
        <div class="col-md-6 p-5"> 
            <img src="assets/primaria.jpg" width="70%" 
            class="w3-right img-thumbnail img-fluid" alt=""/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6 p-5">
            <h2 class="w3-text-red">Secundaria</h2>
            <p class="w3-text-green">____________</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam rem voluptatum 
                veritatis amet earum, necessitatibus, illo impedit doloribus nisi quam? Ratione 
                labore corrupti, totam possimus aut nihil veritatis ducimus?
            </p>
         </div>
        <div class="col-md-6 p-5"> 
            <img src="assets/secundaria.jpg" width="70%" 
            class="w3-right img-thumbnail img-fluid" alt=""/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6 p-5">
            <h2 class="w3-text-red">Restaurante</h2>
            <p class="w3-text-green">____________</p>
            <p>
                El servicio de Restautante sit amet consectetur adipisicing elit. Et ullam rem  
                veritatis amet earum, necessitatibus, illo impedit doloribus nisi quam? Ratione 
                labore corrupti, totam possimus aut nihil veritatis ducimus?
            </p>
         </div>
        <div class="col-md-6 p-5"> 
            <img src="assets/restaurant.jpg" width="70%" 
            class="w3-right img-thumbnail img-fluid" alt=""/>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6 p-5">
            <h2 class="w3-text-red">Ludicas</h2>
            <p class="w3-text-green">____________</p>
            <p>
                Las Ludidcas sit amet consectetur adipisicing elit. Et ullam rem voluptatum 
                veritatis amet earum, necessitatibus, illo impedit doloribus nisi quam? Ratione 
                labore corrupti, totam possimus aut nihil veritatis ducimus?
                <br><br>
                * Natacion <br>
                * Fulbol <br>
                * Danzas<br>
                * Pintura<br>
                * Karate<br>
                * Tenis<br>
            </p>
         </div>
        <div class="col-md-6 p-5"> 
            <img src="assets/ludicas.jpg" width="70%" 
            class="w3-right img-thumbnail img-fluid" alt=""/>
        </div>
    </div>
    <hr/>

 
</div>
  
  