<div class="p-5 espaciodash">
  <!--espaciodash: Espacio del nav  -->
  <div class="avatar_mask float-left">
    <img src="assets/fondospestanas/configuraciones.png" alt="">
  </div>
  <h2 class="w3-text-green float-left pl-5">
    <b>DashBoard</b>| {{ titulo }}
  </h2>
</div>
<div class="clearfix"></div>

<div class="container mt-4" *ngIf="!loading; else Load">
  <div class="container w3-animate-left">
    <button class="w3-red w3-round w3-btn" [routerLink]="['/dashboard']">
      Home Dash
    </button>

    <form class="w3-container my-5 w3-border w3-border-green p-5 w3-round-xxlarge" 
    #formEditTopic="ngForm"
      (ngSubmit)="edit(formEditTopic)" enctype="multipart/form-data" method="POST">

      <div class="alert alert-success w3-round" *ngIf="estado == 'success'">
        Edicion Exitosa
      </div>
      <div class="alert alert-danger w3-round" *ngIf="estado == 'error'">
        Edicion con errorres Verifica tus datos
      </div>
      <label><b>Titulo</b></label>
      <input class="w3-input" name="title" type="text" #title="ngModel" 
      [(ngModel)]="topic.title" required>

      <label><b>Descripcion</b></label>
      <textarea name="content" id="" rows="8" class="w3-input" #content="ngModel"
       [(ngModel)]="topic.content"
        required></textarea>


      <label><b>Imagen</b></label> <br>
          <img [src]="urlapi +'topic/img/' + topic.image"
           [alt]="topic.title" class="my-3 img-fluid img-thumbnail" width="300" />

      <angular-file-uploader
        #file0
        [config]="afuConfig"
        [resetUpload]=resetVar 
        (ApiResponse)="UploapEditImg($event)"
        required>
      </angular-file-uploader>

      <input type="submit" class="mt-5 w3-block w3-btn w3-green w3-round w3-round-large" 
      [disabled]="!formEditTopic.valid"
        value="Editar">
    </form>
  </div>
</div>



<ng-template #Load>
  <div class="p-5 espaciodash">
    <h1><b>Cargando </b></h1>
  </div>
</ng-template>

<br>
<br>
<br>
<br>
<br>
<br>