<br><br><br>
  <h1 class="w3-text-red">FILOSOFIA</h1>
  <p class="w3-text-green">____________</p> <br>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">
        <br><br>
        <p> 
            <b>1)</b> Los principios y fines constituyen los fundamentos y la orientación, es decir, 
            la filosofía sobre la cual se sustenta la acción educativa en el ciclo de Preescolar,
             Básica Primaria, Secundaria y Media Académica dentro del régimen de disposiciones 
             oficiales vigentes y resoluciones de carácter institucional. <br><br>
           
            <b>2)</b> El Preescolar, la Educación Básica Primaria, Secundaria y Media Académica de 
            nuestra Institución,  toma como fundamentos filosóficos los siguientes principios: 
            <b class="w3-text-red">INVESTIGAR - CREAR - APRENDER - VALORAR </b> estos cuatro 
            principios básicos se 
            constituyen en el principal propósito educativo en el que el estudiante 
            desarrolla al máximo su potencial como persona que se va integrando a un 
            nivel social, cultural y humano. La institución busca generar en el estudiante 
            la participación en eventos culturales, sociales y deportivos, actividades que 
            le permitirán al estudiante demostrar sus fortalezas y debilidades.<br><br>
           
           <b>3)</b> De conformidad con el artículo 67 de la Constitución Política, la educación 
           se desarrollará atendiendo a los siguientes fines.<br><br><br>
           
           <b>a)</b>  La formación en el respeto a la vida y a los demás derechos  humanos, a la paz,
            a los principios democráticos de convivencia, pluralismo, justicia, solidaridad,
            equidad así como en el ejercicio de la tolerancia y la libertad. <br><br>
           
           <b>b)</b> La formación para facilitar la participación de todos en las decisiones que los 
           afectan en la vida económica y cultural de la nación.<br><br>
           
           <b>c)</b> La formación  en el respeto a la autoridad legítima y a la ley, a la cultura 
           nacional a la historia Colombiana y a los Símbolos patrios.<br><br>
           
           <b>d)</b> La adquisición y realización de los conocimientos científicos, técnicos, 
           humanísticos, sociales, geográficos y estéticos mediante la apropiación de 
           hábitos intelectuales adecuados al desarrollo del saber.<br><br>
           
           <b>e)</b> La promoción en la persona y en la sociedad en la capacidad para crear 
           investigar adoptar la tecnología que se requiera en los procesos del 
           desarrollo del país  y le permita al educando ingresar al sector productivo.<br><br>
           
           <b>f)</b> La formación para la promoción  y preservación de la salud y la higiene, 
           la prevención integral  de problemas socialmente relevantes, la educación física 
           y la recreación, el deporte y la utilización adecuada del tiempo libre.<br><br>
           
           <b>g)</b> La adquisición  de una conciencia para la conservación, protección y mejoramiento
            del medio  ambiente, del uso racional de los recursos naturales, de la prevención
             de desastres dentro de  una cultura ecológica y del riesgo y la defensa del 
             patrimonio cultural y de la nación.<br><br>
           
           <b>h)</b> La formación en la práctica del trabajo mediante los conocimientos técnicos  y
            habilidades y así como la valoración del mismo como fundamento del desarrollo 
            individual y social.<br><br>
           
           <b>i)</b> Plena formación de la personalidad sin limitaciones; fuera de los impuestos 
           por los demás y el orden jurídico dentro de un proceso integral (físico, cognitivo, 
           socio - afectivo, comunicativo).<br><br>
           
           <b>j)</b> El estudio y la comprensión crítica de la cultura y la diversidad étnica, local, 
           regional y nacional con fundamento en su identidad.<br><br>
           
           <b>k)</b> Desarrollo del conocimiento crítico y tecnológico que permita al estudiante su 
           expectativa universal.<br><br>
           
           <b>l)</b> La Institución integra y coordina los procesos organizacionales  y administrativos,
            con el fin de integrar  y coordinar a todas las personas que tienen responsabilidades 
            directas en la organización, desarrollo y evaluación del PEI, facilitando la 
            participación democrática de todos los integrantes de la Comunidad Educativa, 
            según se dispone en los artículos 142 y 143 de la Ley 115 de 1994.<br><br>
           
           <b>m)</b> La evaluación y la auto evaluación continua, integral y cualitativa, pretende 
           favorecer  en cada alumno el desarrollo de sus habilidades y capacidades, 
           identificar logros, dificultades y limitaciones. Ofrece al alumno y al docente
            oportunidades para aprender del acierto, del error y en general de la experiencia; 
            permitiendo obtener información para reorientar o consolidar sus prácticas pedagógicas.<br><br>

           <b>n)</b> A nivel del currículo, entendiendo éste como el conjunto de actividades organizadas y
            conducentes a la definición y actualización de los criterios, planes de estudio,
             programas, metodología y procesos que contribuyen a la formación integral y a la 
             identidad cultural nacional en la Institución Educativa. El currículo se debe concebir 
             de  manera flexible, para permitir su constante innovación, adaptación y evaluación. <br><br>
            </p> <br> 
        <br>
      </div>
      <div class="col-md-4">
        <img src="assets/mision.png" class="img-fluid" alt=""/>
      </div>
      
    </div>
  </div>
  <br><br><br>