<br><br><br>
  <h1 class="w3-text-red">MISION</h1>
  <p class="w3-text-green">____________</p> <br>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">
        <br><br>
        <p>Brindar una educación integra con el fin de formar jóvenes con actitudes
           espirituales, físicas, e intelectuales basadas en tecnología cuidando su
            entorno y  del medio ambienten en beneficio de la comunidad.<br>
        </p>
            <br> 
        <br>
      </div>
      <div class="col-md-4">
        <img src="assets/mision.png" class="img-fluid" alt=""/>
      </div>
      
    </div>
  </div>
  <br><br><br>