<!-- assets/iconface.png -->
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-2 pt-5 letrasp w3-center w3-border w3-border-green w3-round cardlogofooter">
            <img src="assets/logowell.png"  class="imgfooter"> <br><br>
            <p class="w3-text-green"> <b><b class="w3-text-red">I</b>nvestigar</b> </p>  
            <p class="w3-text-green"> <b><b class="w3-text-red">C</b>rear </b></p>
            <p class="w3-text-green"> <b><b class="w3-text-red">A</b>prender</b></p> 
            <p class="w3-text-green"> <b><b class="w3-text-red">V</b>alorar </b></p>  
        </div>
   
        <div class="col-md-4">
            <h3>Informacion</h3>
         <section class="container p-5">
            <p><b>Ubicacion</b><br> <br>
            <i class="material-icons w3-text-green">location_on</i>
            Km 1 Via Zipaquira-Cogua </p> <hr>

            <p><b>Telefono</b><br> <br>
            <i class="material-icons w3-text-green">call</i>
            310 225 01 02 <br> 852 14 12</p> <hr>

            <p><b>Email</b><br> <br>
            <i class="material-icons w3-text-green">email</i>
            gimanacioicav@hotmail.com</p>
         </section>
            
        </div>

        <div class="col-md-3">
            <h3>Redes Sociales</h3>
         <section class="container p-5">
            <p><b>Facebook</b><br> <br>
            <img src="assets/iconface.png " alt="">
            /Gimasio Campestre Icav </p> <hr>

            <p><b>Twitter</b><br> <br>
            <img src="assets/icontwitter.png " alt="">
            @ColegioIcavZipa</p> <hr>
            
            <p><b>Youtube</b><br> <br>
            <img src="assets/iconyoutube.png" alt="">
            @ColegioIcavChannel</p>
         </section>
            
        </div>

        <div class="col-md-3">
            <h3>Links Interes</h3>
            <img class="img-fluid py-4" src="assets/icfes.jpg" alt="">
            <img class="img-fluid py-4" src="assets/colmbialearn.jpg" alt="">
            <img class="img-fluid py-4" src="assets/britis.jpg" alt="">
            
        </div>
    </div>
</div>

<div class="w3-black container-fluid m-0 p-0">
    <div class="w3-center">
        <span>Diseño: Nova Alexander</span>
    </div>
</div>
